<% if (post.categories && post.categories.length){
  var className = (typeof class_name === "undefined" ? 'article-category' : class_name);
%>
  <div class="<%- className %>">
    <%- list_categories(post.categories, {
      show_count: false,
      class: className,
      style: 'none',
      separator: '►'
    }) %>
  </div>
<% } %>