<!DOCTYPE html>
<html lang="en" style="background: black;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>
<body style="width: <%= width %>px; height: <%= height %>px; background: white;">
<h1><%= title ?? `これはプレースホルダです` %></h1>
</body>
</html>
