.fancybox-skin
  background: color-pallet-background !important

.fancybox-title .child
  font-family: font-sans !important
  font-weight: normal !important
  background: color-pallet-content !important
