.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  background-image: none
  padding: 10px
  margin-bottom: 15px

.archive-article-header
  display: block
  margin-bottom: 0.5em

.archive-article-date
.archive-article-category-link
  @extend $block-caption
  font-size: 0.85em
  margin-bottom: 0
  margin-left: 2px

.archive-article-category
  display: inline
  margin-left: 3px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-pallet-content
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 0.5em

.archive-article-tags-list-link
  @extend $block-caption
  margin-left: 2px
  font-size: 0.85em
  letter-spacing: 0.5px
  &:hover
    color: color-link
  &:before
    content: "#"

#page-nav
  clearfix()
  @extend $depth-block
  position relative
  margin: block-margin auto 0
  background: url(sandpaper-url) lighten(color-pallet-main, 85%)
  font-family: font-ui
  text-align: center
  color: color-pallet-gray
  overflow: hidden
  a, span
    padding: 10px 18px
    line-height: 1
  a
    color: color-ui-content
    text-decoration: none
    &:hover
      background: color-link
      color: color-pallet-background
  .extend
    position: absolute
  .prev
    left: 0
  .next
    right: 0
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-pallet-content
    font-family: font-sans
    font-weight: bold
  .space
    color: transparentify(color-ui-content, 25%)

//region Article kind
.archive-kind-status .archive-article-inner
  background-image: url(lined-url)
  background-size: 450px
  background-position: 0px -5px

.archive-kind-aside .archive-article-inner
  background-image: url(graph-url)
  background-size: 200px
  background-position: 100px 100px

//endregion Article kind
