#footer-info
  box-shadow: depth-box-2
  background: url(cubes-url) color-pallet-sub
  padding: 50px 0
  line-height: line-height
  font-size: 0.95em
  font-family: font-ui
  text-align: center
  color: color-pallet-background
  a
    color: color-pallet-background
    text-decoration: none
    &:hover
      text-decoration: underline
