#footer
  background: url(cubes-url) color-pallet-sub
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-pallet-background
  a
    color: color-pallet-background
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  font-family: font-ui