#footer-visual
  box-shadow: depth-box-2
  background: url(cubes-url) color-pallet-sub
  padding: 50px 0
  color: color-pallet-background
  margin: block-margin 0 0
  max-width: none // outer の制限を打ち消す
  a
    color: color-pallet-background
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.95em
  font-family: font-ui
  text-align: center
