#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  font-family: font-sans
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
  .category-list-count
    font-family: font-ui
  .tag-list-count
    font-family: font-ui
  .archive-year-list-count
    font-family: font-ui
    & + .archive-month-list
      display: none
    &:after
      content: '\f065'
      font-family: font-icon
    &.expanded
      &:after
        content: '\f066'
      & + .archive-month-list
        display: block
        .archive-month-list-count
          font-family: font-ui