#sidebar
  display: grid
  gap: block-margin
  grid-template-columns: 1fr 1fr
  &::before, &::after // outer の疑似要素を打ち消す
    content: none;
  @media mq-mobile
    grid-template-columns: 1fr

.widget-wrap
  margin: 0

.widget-title
  @extend $block-caption

.widget
  background: lighten(color-pallet-main, 60%)
  padding: 15px
  font-family: font-sans
  a
    color: color-link
    text-decoration: none
    text-shadow: link-shadow
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
