if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  @extend $depth-block
  line-height: line-height
  word-wrap: break-word
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal
  li
    margin: 5px 0
    &:last-child
      margin-bottom: 0

.widget-title
  font-size: 1.2em !important
  margin: 0 0 0.5em
  padding: 0 0 0.5em
  border-bottom: 1px solid color-separator

.recent-posts-list-date
.category-list-count
.tag-list-count
.archive-year-list-count
.archive-month-list-count
  font-family: font-ui
  color: color-pallet-gray
  font-size: 0.85em
  padding-left: 5px

.widget.recent-posts
  li > a
    display: block
  .recent-posts-list-date
    padding-left: 0

.archive-year-list-count
  & + .archive-month-list
    display: none
  &:after
    content: '\f065'
    font: (1 / 0.85em) font-icon
    margin-left: 0.5em
    cursor: pointer
  &.expanded
    &:after
      content: '\f066'
    & + .archive-month-list
      display: block
      .archive-month-list-count
        font-family: font-ui

.category-list-count
.tag-list-count
  &:before
    content: "("
  &:after
    content: ")"

.widget .archive-month-list
  list-style: none
  li
    margin: 2px 0

.tagcloud
  a
    margin-right: 5px
    display: inline-block
